---
import {
  faChevronLeft,
  faChevronRight,
} from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";

interface Props {
  prev?: string;
  next?: string;
  prevTitle?: string;
  nextTitle?: string;
}

const { prev, next, prevTitle = "前へ", nextTitle = "次へ" } = Astro.props;
---

<div>
  {
    prev ? (
      <a href={prev}>
        <>
          <FontAwesomeIcon icon={faChevronLeft} />
          <span>{prevTitle}</span>
        </>
      </a>
    ) : (
      ""
    )
  }
  {
    next ? (
      <a href={next} class="next">
        <span>{nextTitle}</span>
        <FontAwesomeIcon icon={faChevronRight} />
      </a>
    ) : (
      ""
    )
  }
</div>

<style>
  div {
    justify-self: center;
    display: grid;
    gap: var(--body);
    width: 100%;
    max-width: 768px;
  }

  a {
    display: grid;
    grid-auto-flow: column;
    gap: var(--body);
    justify-content: start;
    align-items: center;
    background-color: var(--card-background);
    border-radius: calc(var(--body) * 0.5);
    padding: var(--body);

    &:hover {
      opacity: 0.7;
    }
  }

  .next {
    justify-content: end;
  }
</style>
